/* container */
.container{
  max-width: 540px;
  margin: 0 auto;
  padding-top: 0.54rem;
}
/* header */
.common-header{
  display: flex;
  padding: 0 0.3rem;
  /* width: 100%; */
  height: 0.6rem;
  margin-bottom: 0.14rem;
}
.common-position{
  height: 0.6rem;
  line-height: 0.6rem;
  /* font-szie 可以直接用px */
  font-size: 15px;
}
.common-search{
  display: flex;
  flex: 1;
  height: 0.6rem;
  margin-left: 0.2rem;
  border-radius: 15px;
  background: #F2F2F2;
}
.common-search i {
  margin: 0 0.17rem 0 0.23rem;
  line-height: 0.6rem;
}
.common-search input{
  flex: 1;
  height: 0.3rem;
  padding: 0.15rem 0;
  font-size: 13px;
  line-height: 0.3rem;
  background: transparent;
}

.common-option{
  display: flex;
}
.common-option li{
  width: 0.5rem;
  height: 0.6rem;
  margin-left: 0.3rem;
  text-align: center;
  line-height: 1.0;
}
.common-option p{
  width: 100%;
  font-size: 10px;
}

/* nav */
.common-nav{
  display: flex;
  max-width: 540px;
  height: 0.9rem;
  padding: 0 0.3rem;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}
.common-nav::before{
  content: '';
  display: block;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  transform: scaleY(0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.common-nav-list{
  flex: 1;
  text-align: center;
  color: #808080;
}
.common-nav-list p {
  font-size: 10px;
}
.common-nav-list.active{
  color: #FE4845;
}